{% extends 'base.html' %}
{% block page_title %}About Gray and Sons{% endblock %}
{% block page_heading %}About Us{% endblock %}
{% block content %}
<h2>Welcome to Gray and Sons</h2>
<p>Gray's is a family business that was founded London in 1890. Originally a portrait gallery the business expanded to include first other forms of art then furniture and by the 1950's had become an auction house specialising in antiques.</p>
<p>Possibly owing to our origin we do specialise in British antiques and artifacts of the Victorian age. We do however have various other items of differing eras and origins from time to time, so please do feel welcome to browse our collection.</p>
<p>We do regularly update our blog to keep you informed of our new stock, and do highlight anything unusual we have to offer as it becomes available.</p>
<p>Enjoy browsing our collection, I do hope you find something that tickles your fancy.</p>
<p>D. Gray</p>
{% endblock %}