{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}Contact Gray and Sons{% endblock %}
{% block page_heading %}Contact Us{% endblock %}
{% block content %}
<div class="container-fluid  contact-bg">
    <div class="row">
        <div class="col">
            <p class="font-weight-bold">general enquiries<br>
            <a href="">enquiries@graysauctionhouse.co.uk</a><br>
            <a href="">+44 (0)20 1234 5678</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center  font-weight-bold">customer servicess<br>
            <a href="">customer-service@graysauctionhouse.co.uk</a><br>
            <a href="">+44 (0)20 1234 5678</a></p>
        </div>
    </div>
    <div class="row">
            <div class="col">
                <p class="text-right  font-weight-bold">Gray and Sons Auctionhouse<br>
                34 Tite Street<br>
                London<br>
                SW3 4JA</p>
            </div>
        </div>
</div>

{% endblock %}