{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}About Gray and Sons{% endblock %}
{% block page_heading %}How to Bid in an Auction{% endblock %}
{% block content %}

<div class="container-fluid">
   <p>We do try to make sure bidding is as simple as possible. To bid you <emphasis>must</emphasis> be a registered user and logged in.</p>
   <p>Simply view the item that interests you and click the bid button. This will open the bidding form. You will be shown what the current bid is and can enter your bid.</p>
   <p>You will not be able to see the names of other bidders but you will see your name if the leading bid is yours. You will also be notified by email of any auction you win with further details.</p>
</div>
{% endblock %}