{% extends 'base.html' %}
{% block page_title %}Gray and Sons{% endblock %}
{% block page_heading %}Gray and Sons Auction House{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="header-bg-img" style="background-image: url('{{ newest_picture.image.url }}')">
            <div class="bottom">
                <p class="ml-3  contrast-bg"><a href="#">Details</a></p>
            </div>
        </div>
    </div>
</div>
    {% block featured %}
        <!-- include 'featured-items.html' -->
    {% endblock %}
<div class="row">
    {% for blog in top_two_blogs %}
        <div class="col">
            <h3>{{ blog.title }} {{ blog.pub_date }}</h3>
            <p>{{ blog.text }}</p>
            {% if blog.image %}
                <img class="head-img" src="{{ blog.image.url }}" alt="{{ blog.title }} picture.">
            {% endif%}
        </div>
    {% endfor %}
</div>
{% endblock %}