{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}About Gray and Sons{% endblock %}
{% block page_heading %}Shipping{% endblock %}
{% block content %}

<div class="container-fluid">
    <p>Shipping is by courier service unless otherwise requested.</p>
    <p>For international deliveries there may be delays for customs. We will be happy to advise customers based on the specific details of the particular product and the destination.</p>
    <p>Please be aware import restrictions vary from country to country while we will be happy to work with you we must advise you to ensure you understand the restrictions your country places on the import or ownership of the item you intend to buy before purchase, especially in the case of items such as swords.</p>
</div>
{% endblock %}