{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Gray and Sons{% endblock %}
{% block page_heading %}Billing Deatils{% endblock %}
{% block content %}

<div class="row">
    <div class="col  unselected"><a class="unselected-link" href="{% url 'payment:customer-details' %}"><p class="text-center">Customer Details</p></a></div>
    <div class="col  selected"><a class="selected-link" href="{% url 'payment:billing-details' %}"><p class="text-center">Billing Address</p></a></div>
    <div class="col  unselected"><a class="unselected-link" href="{% url 'payment:payment-details' %}"><p class="text-center">Payment</p></a></div>
</div>

<form action="POST">
    {% csrf_token %}
    {{ bform | crispy }}
</form>

<p>Deliver to the billing address?</p>
<button type="button" onclick="hideShowDeliveryForm()">Add different address for shipping.</button>

<form id="delivery-form" action="POST">
    {% csrf_token %}
    {{ sform | crispy }}
</form>

<a href="">Back</a>
<a href="">Next</a>

{% endblock %}

