{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Gray and Sons{% endblock %}
{% block page_heading %}Delivery Details{% endblock %}
{% block content %}

<div class="row">
    <div class="col  unselected"><a class="unselected-link" href="{% url 'payment:customer-details' %}"><p class="text-center">Customer Details</p></a></div>
    <div class="col  unselected"><a class="unselected-link" href="{% url 'payment:billing-details' %}"><p class="text-center">Billing Address</p></a></div>
    <div class="col  unselected"><a class="unselected-link" href="{% url 'payment:payment-details' %}"><p class="text-center">Payment</p></a></div>
</div>

<form action="POST">
    {% csrf_token %}
    {{ customer_form | crispy }}
    {{ delivery_form | crispy }}
    <button type="submit" class="btn btn-primary">Next</button>
</form>

<a href="">Back</a>

{% endblock %}
