/* ----- COLOURS ----------------------- */


$facebook: #3b5998;
$twitter: #1da1f2;

$nav-bg: rgb(219, 233, 238);
$mid-blue: rgb(74, 111, 165);
$bg-white: rgb(249,249,249);
$muted: rgba(79, 109, 122, 1);
$attention: rgba(22, 96, 136, 1);


body {
    background-color: $bg-white;
}

.bg-light {
    background-color:$nav-bg !important;
}

footer {
    background-color: $nav-bg;
}

.time-select {
    background-color: $mid-blue;
}

.facebook {
    color: $facebook;
}

.twitter {
    color: $twitter;
}

.contrast-bg {
    background-color: $bg-white;
    border-style: solid;
    border-color: $bg-white;
    border-width: 1px;
    padding: 5px;
    border-radius: 15px;
}

.selected {
    background-color: $attention;
}

.unselected {
    background-color: lighten( $attention, 30% );
}