/* ----- COLOURS ----------------------- */
/*
$color1: hsla(198%, 21%, 39%, 1);
$color2: hsla(197%, 33%, 81%, 1);
$color3: hsla(196%, 36%, 90%, 1);
$color4: hsla(216%, 38%, 47%, 1);
$color5: hsla(201%, 72%, 31%, 1);

$color1: rgba(79, 109, 122, 1);
$color2: rgba(192, 214, 223, 1);
$color3: rgba(219, 233, 238, 1);
$color4: rgba(74, 111, 165, 1);
$color5: rgba(22, 96, 136, 1);
*/
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway&display=swap");
body {
  background-color: #f9f9f9;
}

.bg-light {
  background-color: #dbe9ee !important;
}

footer {
  background-color: #dbe9ee;
}

.time-select {
  background-color: #4a6fa5;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.contrast-bg {
  background-color: #f9f9f9;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 1px;
  padding: 5px;
  border-radius: 15px;
}

/* ----- TITLES, HEADINGS AND TEXT ---------------------------- */
h1, h2, .title {
  font-family: 'Cinzel Decorative', cursive;
}

span, p, ::-webkit-input-placeholder, h3, h4, h5, h6, label, button {
  font-family: 'Raleway', sans-serif;
}

span, p, :-ms-input-placeholder, h3, h4, h5, h6, label, button {
  font-family: 'Raleway', sans-serif;
}

span, p, ::-ms-input-placeholder, h3, h4, h5, h6, label, button {
  font-family: 'Raleway', sans-serif;
}

span, p, ::placeholder, h3, h4, h5, h6, label, button {
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  text-transform: capitalize;
}

h3, h4, h5, h6, label, button {
  text-transform: capitalize;
}

p {
  margin-top: 10px;
  font-size: 5vw;
}

@media (min-width: 600px) and (max-width: 767px) {
  p {
    font-size: 4vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  p {
    font-size: 2vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  p {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 1.5vw;
  }
}

h1 {
  font-size: 9vw;
}

@media (min-width: 600px) and (max-width: 767px) {
  h1 {
    font-size: 9vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 7vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 5vw;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5vw;
  }
}

h2 {
  font-size: 7vw;
}

@media (min-width: 600px) and (max-width: 767px) {
  h2 {
    font-size: 6vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 5vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 4vw;
  }
}

h3 {
  font-size: 6vw;
}

@media (min-width: 600px) and (max-width: 767px) {
  h3 {
    font-size: 6vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 4vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h3 {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 3vw;
  }
}

h4 {
  font-size: 5vw;
}

@media (min-width: 600px) and (max-width: 767px) {
  h4 {
    font-size: 5vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 3vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h4 {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 2vw;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* ----- SPACING AND ALIGNMENT --------------- */
.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.left-13 {
  padding-left: 13px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.small-bg-img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.large-bg-img {
  background-color: #f9f9f9;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  margin: 0 auto;
}

.blog-img {
  display: block;
  margin: auto;
  height: 15vh;
}

@media (min-width: 600px) and (max-width: 767px) {
  .blog-img {
    height: 15vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-img {
    height: 20vh;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .blog-img {
    height: 35vh;
  }
}

@media (min-width: 1200px) {
  .blog-img {
    height: 35vh;
  }
}

.blog-article-img {
  display: block;
  margin: auto;
  max-height: 200px;
}

.header-bg-img {
  background-color: #f9f9f9;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 25vh;
}

@media (min-width: 600px) and (max-width: 767px) {
  .header-bg-img {
    height: 25vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-bg-img {
    height: 30vh;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-bg-img {
    height: 75vh;
  }
}

@media (min-width: 1200px) {
  .header-bg-img {
    height: 75vh;
  }
}

.head-img {
  display: block;
  margin: auto;
  height: 15vh;
}

@media (min-width: 600px) and (max-width: 767px) {
  .head-img {
    height: 15vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .head-img {
    height: 20vh;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .head-img {
    height: 35vh;
  }
}

@media (min-width: 1200px) {
  .head-img {
    height: 35vh;
  }
}
/*# sourceMappingURL=main.css.map */