.small-bg-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.large-bg-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 500x;
    height: 500px;
    margin: 0 auto;
}

.head-img {
    width: 100px;
    height: 100px;
    display:block;
    margin:auto;
}