.bg {
    background-color: $bg-white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.small-bg-img {
    @extend .bg;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.large-bg-img {
    @extend .bg;
    height: 400px;
    margin: 0 auto;
}

.blog-img {
    display:block;
    margin:auto;
    height: 15vh;
    @include large-phone {
        height: 15vh;
        }
        @include tablet {
            height: 20vh;
        }
        @include desktop {
            height: 35vh;
        }
        @include large-desktop {
            height: 35vh;
        }
}

.blog-article-img {
    display:block;
    margin:auto;
    max-height: 200px;
}

.header-bg-img {
    @extend .bg;
    margin: 0 auto;
    height: 25vh;
    @include large-phone {
        height: 25vh;
        }
        @include tablet {
            height: 30vh;
        }
        @include desktop {
            height: 75vh;
        }
        @include large-desktop {
            height: 75vh;
        }
}

.head-img {
    display:block;
    margin:auto;
    height: 15vh;
    @include large-phone {
        height: 15vh;
        }
        @include tablet {
            height: 20vh;
        }
        @include desktop {
            height: 35vh;
        }
        @include large-desktop {
            height: 35vh;
        }
}

.about-bg {
    background-image: url('/static/img/about.jpg');
    @extend .bg;
}

.contact-bg {
    background-image: url('/static/img/contact.png');
    @extend .bg;
}