%link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

a {
    @extend %link;
}

.selected-link {
    color: $bg-white;
    &:hover {
        color: $bg-white;
    }
}

.unselected-link {
    color: darken( $bg-white, 70% );
    &:hover {
        color: darken( $bg-white, 70% );
    }
}

