/* ----- SPACING AND ALIGNMENT --------------- */

.inline {
    display: inline-flex;
}

.left-13 {
    padding-left: 13px;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.enclose {
    width: 80%;
    margin: 0 auto;
}