/* ----- TITLES, HEADINGS AND TEXT ---------------------------- */

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway&display=swap');

%title-font {
    font-family: 'Cinzel Decorative', cursive;
}

%body-font {
    font-family: 'Raleway', sans-serif;
}

span, p, ::placeholder {
    @extend %body-font;
}

h1, h2 {
    @extend %title-font;
    text-transform: capitalize;
}

h3, h4, h5, h6, label, button {
    @extend %body-font;
    text-transform: capitalize;
}

p {
    margin-top: 10px;
    font-size: 5vw;
    @include large-phone {
        font-size: 4vw;
        }
        @include tablet {
            font-size: 2vw;
        }
        @include desktop {
            font-size: 2vw;
        }
        @include large-desktop {
            font-size: 1.5vw;
        }
} 

h1 {
    font-size: 9vw;
    @include large-phone {
        font-size: 9vw;
        }
        @include tablet {
            font-size: 7vw;
        }
        @include desktop {
            font-size: 5vw;
        }
        @include large-desktop {
            font-size: 5vw;
        }
}

h2 {
    font-size: 7vw;
    @include large-phone {
        font-size: 6vw;
        }
        @include tablet {
            font-size: 5vw;
        }
        @include desktop {
            font-size: 3vw;
        }
        @include large-desktop {
            font-size: 4vw;
        }
}

h3 {
    font-size: 6vw;
    @include large-phone {
        font-size: 6vw;
        }
        @include tablet {
            font-size: 4vw;
        }
        @include desktop {
            font-size: 3vw;
        }
        @include large-desktop {
            font-size: 3vw;
        }
}

h4 {
    font-size: 5vw;
    @include large-phone {
        font-size: 5vw;
        }
        @include tablet {
            font-size: 3vw;
        }
        @include desktop {
            font-size: 2vw;
        }
        @include large-desktop {
            font-size: 2vw;
        }
}

.title {
    @extend %title-font;
}
