{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>

    <link href="{% static 'vendor/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'realfavicongenerator/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'realfavicongenerator/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'realfavicongenerator/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'realfavicongenerator/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'realfavicongenerator/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script defer src="{% static 'vendor/js/fontawesome-all.min.js' %}"></script>
     
</head>
<body>
    
    <nav class="container-fluid  navbar-expand-lg  navbar-light  bg-light">
        <div class="row">
            <div class="col-2">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="col">
                <p class="title"><a class="navbar-brand  title" href="{% url 'index' %}">Grays Auction House</a></p>
            </div>
            
            <div class="col">
                <form class="form-inline  my-2  my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                </form>
            </div>
            <div class="col-2">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="navbar-text">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="navbar-text">Login</a>
                {% endif %}
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row">
                <div class="col-12">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'catalogue:catalogue-all' %}">Auctions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Buy Now</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'news' %}">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">How it Works</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <section id="time-categories container-fluid">
        <div class="row">
            <div class="col  time-select">
                <p class="text-center">Viking</p>
            </div>
            <div class="col  time-select">
                <p class="text-center">17th Century</p>
            </div>
            <div class="col  time-select">
                <p class="text-center">18th Century</p>
            </div>
            <div class="col  time-select">
                <p class="text-center">Victorian</p>
            </div>
        </div>
    </section>

    <section>
        {% if messages %}
            {% for message in messages %} 
                <div class="alert  alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %} 
    </section>

    <main>
            <h1>{% block page_heading %}{% endblock %}</h1>
            {% block content %}
            {% endblock %}
    </main>
    
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p class="text-center"><a href="" target="_blank"><span><i class="fab  fa-facebook-square  facebook"></i></span></a></p>
                </div>
                <div class="col">
                    <p class="text-center"><a href="" target="_blank"><span><i class="fab  fa-twitter  twitter"></i></span></a></p>
                </div>
            </div>
        </div>

        <p>
            <button class="btn" type="button" data-toggle="collapse" data-target="#aboutUs" aria-expanded="false" aria-controls="aboutUs">
                About Us <i class="fas fa-caret-down"></i>
            </button>
        </p>
        <div class="collapse" id="aboutUs">
                <div>
                    <a href="#">About Us</a><br>
                    <a href="#">Contact Us</a>
                </div>
            </div>
        <p>
            <button class="btn" type="button" data-toggle="collapse" data-target="#resources" aria-expanded="false" aria-controls="resources">
                Resources <i class="fas fa-caret-down"></i>
            </button>
        </p>
        <div class="collapse" id="resources">
            <div>
                <a href="#">Help and FAQ's</a><br>
                <a href="#">Bidding in an Auction</a>
                <a href="#">Shipping</a><br>
                <a href="#">Admin Login</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="left-13"><small><a href="#">Privacy Policy</a></small></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center"><small><span><i class="far fa-copyright"></i></span> Copyright Gray and Sons 2019</small></p>
            </div>
        </div>
    </footer>
    <script src="{% static 'vendor/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
    
</body>
</html>