{% extends 'base.html' %}
{% block page_title %}Gray and Sons{% endblock %}
{% block page_heading %}catalogue display{% endblock %}
{% block content %}
<div>Newest product image</div>
<div>sub catagories</div>
<div>
    {% for item in catalogue %}
    <div>
        <div class="row">
            <div class="col-6">
                <a href=""><!-- link to larger picture -->
                <div class="lead-img" style="background-image: url('{{ MEDIA_URL }}{{ item.image }}')">
                </a>
                <p><a href="">Details</a></p>
            </div>
            
            <div class="col-6">bids overview<br>
                {{ item.name | title }}<br>
                &#163;{{ item.price }}<br>
                item name, number of bids, current bid, make a bid<br>
                if allowed buy immediately button with new price
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ item.description }}<br>
                        truncate to 50 or 100 characters
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}