{% extends 'base.html' %}
{% block page_title %}Gray and Sons{% endblock %}
{% block page_heading %}catalogue display{% endblock %}
{% block content %}

<p>{{ display.name | title }}</p>
<div class="large-bg-img" style="background-image: url('{{ MEDIA_URL }}{{ display.image }}')"></div>
<p>{{ display.description }}</p>
<div class="row">
    <div class="col">
        {% if item.last_bidder == request.user %}
        <p>You currently lead the bidding</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}

            {{ form }}
            <input type="hidden" name="product" value="{{ display.id }}">
            <input type="submit" value="Bid">
        </form>
    </div>
</div>







{% endblock %}